@model ProjetFinalBD.ViewModels.PlayerImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player.AgeExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.AgeExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.PositionChiffree)
        </dt>
        <dd class="col-sm-10">
            *CONFIDENTIAL* 
            <button onclick="showDeChiffrePosition()">Decrypter Position</button>
        </dd>

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Team.TeamName)
            <a asp-action="Vw_AllPlayersFromSameTeam" asp-route-id="@Model.Player.PlayerId">- Voir joueur de la même équipe</a>
        </dd>
    </dl>
    @if (Model.Player.Image != null)
    {
        <div >
            <img style="height: auto; width: 400px;" alt="@Model.Player.Image?.Nom" src="@Model.ImageUrl" />

        </div>
    }
    
</div>

<div>
    
    <a asp-action="Index">Back to List</a>
</div>


<script>
    function showDeChiffrePosition() {
        var playerId = @Model?.Player.PlayerId;

        $.ajax({
            url: '/Players/DeChiffrementPosition/' + playerId,
            type: 'GET',
            success: function (data) {
                if (data !== "") {
                    alert("Position: " + data);
                } else {
                    alert("Aucune position est asigné au joueur.");
                }
            },
            error: function () {
                alert("Error dans la requête de récuperer la position du joueur.");
            }
        });
    }
</script>