@model ProjetFinalBD.Models.Player

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionChiffree)
        </dt>
        <dd class="col-sm-10">
            *CONFIDENTIAL* 
            <button onclick="showDeChiffrePosition()">Decrypter Position</button>
        </dd>

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Vw_AllPlayersFromSameTeam" asp-route-id="@Model.PlayerId">V1_4_VwContractAndStatusByPlayer - Voir joueur de la même équipe</a>
    <br>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    function showDeChiffrePosition() {
        var playerId = @Model?.PlayerId;

        $.ajax({
            url: '/Players/DeChiffrementPosition/' + playerId,
            type: 'GET',
            success: function (data) {
                if (data !== "") {
                    alert("Position: " + data);
                } else {
                    alert("Aucune position est asigné au joueur.");
                }
            },
            error: function () {
                alert("Error dans la requête de récuperer la position du joueur.");
            }
        });
    }
</script>