@model IEnumerable<ProjetFinalBD.Models.Contract>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractTerms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageSalaryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guaranteed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearExpire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acquired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractTerms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSalaryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guaranteed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearExpire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acquired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
