@model ProjetFinalBD.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoachName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoachName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordWLT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordWLT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayOffRecordWL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayOffRecordWL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
